<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<a href="{% url 'home' %}">Home</a>
<a href="{% url 'gallery' %}">Gallery</a>


<h1>ADDITIONAL INFORMATION ABOUT QUICKDASH</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur delectus deleniti laboriosam laudantium, non officiis recusandae soluta tempora tempore vero. Dignissimos eaque enim hic minima odit recusandae reprehenderit suscipit ullam.</span><span>Accusamus amet atque autem culpa delectus ea enim esse eum eveniet, facere id impedit incidunt labore, laboriosam maxime nam nesciunt nihil odio pariatur quaerat quisquam quos recusandae saepe sed ullam.</span></p>
<h2>Why choose us??</h2>

<div id="main">

     <div class="mydiv">
         <img src="{% static 'assets/img_8.png' %}" alt="">
         <h3>Watch1</h3>
         <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur dignissimos, distinctio eaque, eius enim harum inventore laborum libero natus nihil nostrum obcaecati praesentium quas quod rerum, sit tenetur voluptatem?</span><span>Fugiat inventore iure molestias. Atque, deserunt dolorem enim, eos incidunt labore mollitia nam omnis quidem quos ratione similique voluptatem voluptates. Dolorem eos est facilis impedit iure nobis obcaecati optio rerum?</span></p>
         <button>More</button>
    <div>

    <div class="mydiv">
        <img src="{% static 'assets/img_9.png'%}" alt="" class="image">
        <h3>Watch2</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ex minima, natus nisi rerum tempora tenetur! Animi consequatur distinctio itaque maiores nostrum odio, quasi qui quidem, repellat, repellendus ut vitae!</span><span>Ipsa nemo quaerat qui sequi veniam. Atque consectetur consequuntur cumque dignissimos doloribus earum eum facere fuga ipsa iure non, nostrum nulla optio placeat qui quia quis repudiandae, saepe sunt suscipit!</span></p>
        <button>More</button>
    </div>

    <div class="mydiv">pisici
        <img src="{% static 'assets/img_10.png'%}" alt="" class="image">
        <h3>Watch3</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur ading elit. Est ex minima, natus nisi rerum tempora tenetur! Animi consequatur distinctio itaque maiores nostrum odio, quasi qui quidem, repellat, repellendus ut vitae!</span><span>Ipsa nemo quaerat qui sequi veniam. Atque consectetur consequuntur cumque dignissimos doloribus earum eum facere fuga ipsa iure non, nostrum nulla optio placeat qui quia quis repudiandae, saepe sunt suscipit!</span></p>
        <button>More</button>
    </div>
</div>

</body>
</html>