<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>


    {% load static %}

    <style>

        h1{
            text-align: center;
            background-color: black;
            colour:white;
            line-height: 80px;
        }
        h1:hover{
            background-color: #ba2121;
        }

    </style>
</head>
<body>

<h1>QuickDash App</h1>
<img src="{% static 'assets/img_1.png'%}" alt="">
<img src="{% static 'assets/img_2.png'%}" alt="">
<img src="{% static 'assets/img_3.png'%}" alt="">
<img src="{% static 'assets/img_4.png'%}" alt="">
<img src="{% static 'assets/img_5.png'%}" alt="">
<img src="{% static 'assets/img_6.png'%}" alt="">
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut enim in laborum magni nemo omnis repellat repellendus velit. Accusamus amet eum eveniet ex, id qui quos rerum sint sit voluptates.</span><span>Accusantium delectus dolorem eius modi placeat tempora, tempore? Accusantium ad aliquam asperiores aspernatur atque beatae, consequatur cupiditate deleniti distinctio ex harum ipsa maiores nam porro quidem ratione sint. Quia, velit.</span></p>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores consectetur consequatur dicta dolore dolores est ex exercitationem id ipsa iste modi, nostrum perspiciatis quae quo quod soluta tempora vero!</span><span>Alias deleniti ducimus ipsam itaque, mollitia optio qui quod repudiandae unde voluptatem. Ab culpa eos fuga impedit iusto nam provident quaerat quia reiciendis vitae. At deserunt exercitationem inventore saepe tempora!</span><span>Ad autem dolorem ducimus eius enim excepturi expedita illo ipsa ipsum iusto nisi officiis optio, praesentium quia recusandae unde veritatis. Doloribus esse fugit iste necessitatibus temporibus? Id numquam vero voluptas.</span></p>

</body>
</html>