<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>services</title>


    {% load static %}

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/bootstrap-5.3.3-dist/js/bootstrap.min.js' %}"></script>


</head>
<body>

<h1 class="text-center mt-5 ">OUR SERVICES</h1>

<div class=" d-flex container m-5 p-5">

    <div class="card p-4">
        <img src="{% static 'assets/img_13.png'%}" alt="">
        <h1 class="text-center">Design</h1>
        <p class="text-center">Deliver the best user experience with our <br> carefully designed responsible websites <br> applications!</p>
        <hr>
        <button class="btn btn-outline-danger ">See portfolio</button>
    </div>

   <div class="card p-4">
       <img src="{% static 'assets/img_14.png'%}" alt="">
        <h1  class="text-center ">Development</h1>
        <p class="text-center" >You need software that works on every <br> device. Leverage the latest technologies <br> and the most powerful tools!</p>
        <hr>
        <button class="btn btn-outline-danger ">See portfolio</button>
    </div>

   <div class="card p-4">
       <img src="{% static 'assets/img_15.png'%}" alt="">
        <h1  class="text-center">Analytics</h1>
       <br><br>
        <p class="text-center">Consult our exeperts to set up proper goals <br> and find the best stack for your next
            <br> application! </p>
        <hr>
        <button class="btn btn-outline-danger ">See portfolio</button>
    </div>









</div>



</body>
</html>